body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

#lista {
    margin-top: 20px;
}

.item {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #aaa;
}

.form-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 20px;
    width: 85%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 10px #777;
}

.hidden {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
}

button.fechar {
    background: #c0392b;
}

.add-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #3498db;
    color: white;
    border: none;
    font-size: 32px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 4px 10px #666;
}
